// color variables   color variables   color variables   color variables   color variables   color variables
$grid-black: #0b0b0b;
:export {
  gridBlack: $grid-black;
}
$grid-brown: #2c1608;
:export {
  gridBrown: $grid-brown;
}
$grid-gray: #888889;
:export {
  gridGray: $grid-gray;
}
$nav-line: #979797;
:export {
  navLine: $nav-line;
}
$dev-green: #b8e1cc;
:export {
  devGreen: $dev-green;
}
$dev-blue: #0a437a;
:export {
  devBlue: $dev-blue;
}
$dev-orange: #e8a64e;
:export {
  devOrange: $dev-orange;
}
$dev-teal: #008996;
:export {
  devTeal: $dev-teal;
}
