@use "variables";

// For a detailed graphical representation of this layout, check the Sketch file

.mainHeroGrid {
  display: grid;
  grid-template-columns: 46vw 37vw;
  grid-template-rows: 25vh 25vh 25vh;
  column-gap: 3vw;
  row-gap: 3vh;
  padding: 3vh 4vw 0 2vw;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.headingWrap {
  background: variables.$grid-gray;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: stretch;
  // height: 35vh;
  // min-height: 35vh;
  // max-height: 35vh;

  .titleLarge {
    font-size: 8vw;
    font-weight: 200;
    padding: 0;
    margin: 0;
  }
}

.SphereContainer {
  background: variables.$dev-blue;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  place-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42vw;
  min-width: 42vw;
  max-width: 42vw;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  top: 4vh;

  .brandTitle {
    font-size: 7.2vw;
    font-weight: 200;
    position: absolute;
    top: 20.1vh;
  }

  .brandSphere {
    width: 31vw;
    min-width: 31vw;
    max-width: 31vw;
  }
}

.ParagraphContainer {
  background: variables.$dev-teal;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  place-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 45vw;
  min-width: 45vw;
  max-width: 45vw;
}

// .universalPAG {
//   // background: variables.$dev-orange;
//   font-size: 1.3vw;
//   font-weight: 200;
//   line-height: 170%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   width: 20vw;
// }

.headingWrapBase {
  background: variables.$grid-gray;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: stretch;

  .titleMedium {
    font-size: 6.62vw;
    font-weight: 200;
    padding: 0;
    margin: 0;
  }
}

.ButtonContainer {
  background: variables.$dev-orange;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  place-self: stretch;
}

// Backup FlexBox Styles ⬇︎

// .topInnerHero {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: space-between;
// }

// .leftInnerHero {
//   // background: variables.$dev-teal;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: 2vh 3vw;
//   width: 50vw;
//   min-width: 50vw;
//   max-width: 50vw;
//   height: 60vh;
//   min-height: 60vh;
//   max-height: 60vh;
// }

// .rightInnerHero {
//   // background: variables.$dev-orange;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   width: 47vw;
//   min-width: 47vw;
//   max-width: 47vw;
//   height: 60vh;
//   min-height: 60vh;
//   max-height: 60vh;
// }

// .middleHeroBar {
//   // background: variables.$dev-blue;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   padding-left: 3vw;
//   padding-right: 3vw;
// }
